@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, a:hover { text-decoration: none; }
button, label, a { cursor: pointer; user-select: none; }
p, label { margin-bottom: 0; }
.form-group label { margin-bottom: 0.5em; }
button { border: none; background-color: transparent; }

.position-center { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.white { filter: brightness(500%); }
.py-6 { padding-top: 6em; padding-bottom: 6em; }
.d-between { display: flex; align-items: center; justify-content: space-between; }
.d-center { display: flex; align-items: center; justify-content: center; }
.align-center { display: flex; align-items: center; }
.textarea { font-size: 0.9em; color: #555; line-height: 1.8em; word-break: keep-all; }
.text-ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.pre-line, .auto-line { white-space: pre-line; }
.fit-cover { width: 100%; height: 100%; object-fit: cover; }
.fit-contain { width: 100%; height: 100%; object-fit: contain; }
.wrap { width: 100%; max-width: calc(100% - 80px); margin: 0 auto; }

@media(max-width: 760px){
    .auto-line { white-space: normal; }
    .wrap { max-width: 100%; padding: 0 20px; }
}

.fx-n3 { font-size: 0.85em; }
.fx-n2 { font-size: 0.9em; }
.fx-n1 { font-size: 0.95em; }

.fx-1 { font-size: 1em; }
.fx-2 { font-size: 1.1em; }
.fx-3 { font-size: 1.2em; }
.fx-4 { font-size: 1.4em; }
.fx-5 { font-size: 1.6em; }
.fx-6 { font-size: 1.8em; }
.fx-7 { font-size: 2em; }
.fx-8 { font-size: 2.3em; }

.hx-100 { height: 100px; }
.hx-150 { height: 150px; }
.hx-200 { height: 200px; }
.hx-250 { height: 250px; }
.hx-300 { height: 300px; }
.hx-350 { height: 350px; }
.hx-400 { height: 400px; }
.hx-450 { height: 450px; }



.text-red { color: #ce633d!important; }
.text-gray { color: #fffc!important; }
.text-yellow { color: #d3a97d!important; }

.border-red { border-color: #ce633d!important; }
.border-gray { border-color: #fffc!important; }
.border-yellow { border-color: #d3a97d!important; }

.bg-red { background-color: #ce633d!important; }
.bg-gray { background-color: #f7f7f7!important; }
.bg-yellow { background-color: #d3a97d!important; }


.background,
.background::after,
.background img { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

.background { z-index: -1; }
.background::after { content: ''; }
.background img { object-fit: cover; }

.background--red::after { background-color: #5d230eed; }
.background--black::after { background-color: #000a; }


[class^="btn"] { padding: 0.5em 1em; font-size: 0.9em; transition: 0.35s; }

.btn-bordered { border: 1px solid #ce633d; color: #ce633d; }
.btn-bordered:hover { border-color: #d3a97d; color: #d3a97d; }

.btn-filled { background-color: #ce633d; color: #fff; }
.btn-filled:hover { background-color: #d3a97d; color: #fff; }

.btn-custom { border: 1px solid #ce633d; color: #ce633d; position: relative; }
.btn-custom--white { border-color: #fff; color: #fff; }
.btn-custom::before,
.btn-custom::after {
    content: '';
    height: 5px; width: 0;
    background-color: #ce633d;
    transition: 0.35s;
}
.btn-custom::before { left: 0; top: 0; }
.btn-custom::after { right: 0; bottom: 0; }
.btn-custom:hover::before, .btn-custom:hover::after { width: 100%; }
.btn-custom:hover { background-color: #ce633d; color: #fff; }


.title { font-size: 1.1em; font-weight: 600; }
.bar-left { padding-left: 1em; border-left: 5px solid #333; }
.bar-right { padding-right: 1em; border-right: 5px solid #333; }

.icon { width: 2em; height: 2em; text-align: center; line-height: 2em; display: inline-block; padding: 0; }

.text-title { font-size: 1.8em; font-weight: 100; white-space: pre-line; line-height: 1.8em; word-break: keep-all; }
.text-title strong { font-weight: 600; }



.t-head, .t-row { display: flex; align-items: center; text-align: center; }
.t-head { height: 50px; line-height: 50px; text-align: center; border-bottom: 3px double #ddd; border-top: 1px solid #ddd; color: #555; }
.t-row { border-bottom: 1px solid #ddd; min-height: 50px; padding: 0.5em 0; }

.cell-10 { flex: 0 0 10%; max-width: 10%; }
.cell-15 { flex: 0 0 15%; max-width: 15%; }
.cell-20 { flex: 0 0 20%; max-width: 20%; }
.cell-30 { flex: 0 0 30%; max-width: 30%; }
.cell-40 { flex: 0 0 40%; max-width: 40%; }
.cell-50 { flex: 0 0 50%; max-width: 50%; }
.cell-60 { flex: 0 0 60%; max-width: 60%; }
.cell-80 { flex: 0 0 80%; max-width: 80%; }
.cell-85 { flex: 0 0 85%; max-width: 85%; }


/* 헤더 영역 */

header {
    position: relative;
    height: 80px;
    padding-top: 20px;
    z-index: 1030;
}

.nav {
    display: flex;
    height: 100%;
}

.nav__item {
    position: relative;
    height: 60px;
    line-height: 60px;
    padding: 0 1em;
}
.nav__item > a {
    font-size: 0.95em;
    color: #555;
    position: relative;
}
.nav__item > a::after {
    content: '';
    position: absolute;
    left: 50%; bottom: -5px;
    transform: translateX(-50%);
    width: 0; border-top: 1px solid #555;
    transition: 0.35s;
}
.nav__item:hover > a::after { width: 100%; }


.nav__list {
    position: absolute;
    left: 50%; top: 100%;
    transform: translateX(-50%);
    width: 100%;
    margin-top: -2em;
    opacity: 0;
    pointer-events: none;
    transition: 0.35s;
}
.nav:hover .nav__list { opacity: 1; margin-top: 0; pointer-events: all; }
.nav__list > a {
    display: block;
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #888;
    font-size: 0.9em;
}


.nav__background {
    position: absolute;
    left: 0; top: 100%;
    background-color: #fff;
    width: 100%; height: 0;
    transition: 0.35s;
}
.nav:hover .nav__background { height: 100px; }


.auth > a {
    margin-left: 1em;
    font-size: 0.9em;
    color: #555;
}


.icon-bars {
    display: block;
    width: 2em; height: 2em;
}
.icon-bars > span {
    display: block;
    border-top: 1px solid #555;
    margin-top: calc(2em / 3);
    margin-left: auto;
}
.icon-bars > span:nth-child(1) { width: 2em; margin-top: 0; }
.icon-bars > span:nth-child(2) { width: 1.2em; }
.icon-bars > span:nth-child(3) { width: 1.5em; }

/* /헤더 영역 */


/* 사이드바 */
aside {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    pointer-events: none;
    z-index: 2000;
}
#open-aside:checked ~ aside { pointer-events: all; }
.aside__background {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: #000a;
    opacity: 0;
    transition: 0.35s;
}
#open-aside:checked ~ aside .aside__background { opacity: 1; }

.aside__content {
    position: absolute;
    right: 0; top: 0;
    width: 400px; height: 100%;
    background-color: #fff;
    padding-top: 40px;
    margin-right: -400px;
    transition: 0.35s;
}
#open-aside:checked ~ aside .aside__content { margin-right: 0; }


.nav--aside { flex-direction: column; }
.nav--aside .nav__item { height: auto; line-height: 40px; }
.nav--aside .nav__list { position: static; margin-top: 0; opacity: 1; pointer-events: all; transform: none; }
.nav--aside .nav__list > a { text-align: left; padding-left: 1.5em; }

/* /사이드바 */

/* 비주얼 영역 */
.visual {
    position: relative;
    overflow: hidden;
    height: 700px;
}
.visual__image .image {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center center;
    background-repeat: no-repeat;
    filter: brightness(50%);
}
.visual__image .image:nth-child(1) { background-image: url(../images/visual/1.jpg); }
.visual__image .image:nth-child(2) { background-image: url(../images/visual/2.jpg); }
.visual__image .image:nth-child(3) { background-image: url(../images/visual/3.jpg); }

.visual__box .box {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 330px; height: 330px;
    padding: 30px;
    border: 1px solid #fff;
}
.visual__box .box__item {
    height: 90px;
    line-height: 30px;
    text-align: justify;
    font-size: 2.3em;
    font-weight: 100;
    color: #fff;
}
.visual__box .box__item::before,
.visual__box .box__item::after { content: ''; width: 100%; display: inline-block; }


.visual__control {
    position: absolute;
    bottom: 1em; left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}
.visual__control .control {
    position: relative;
    width: 1em; height: 1em;
    border: 2px solid #fffa;
    margin-right: 0.3em;
    transition: 0.35s;
}
.visual__control .control:hover {
    background-color: #ce633d;
}
.visual__control .control label { 
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
}


/* /비주얼 영역 */


/* 슬라이드 */

@keyframes image-1 { 
    0%      { opacity: 1; }
    25.92%  { opacity: 1; }
    
    33.33%  { opacity: 0; }
    59.25%  { opacity: 0; }

    66.66%  { opacity: 0; }
    92.59%  { opacity: 0; }
    
    100%    { opacity: 1; }
}
@keyframes image-2 { 
    0%      { opacity: 0; }
    25.92%  { opacity: 0; }
    
    33.33%  { opacity: 1; }
    59.25%  { opacity: 1; }

    66.66%  { opacity: 0; }
    92.59%  { opacity: 0; }
    
    100%    { opacity: 0; }
}
@keyframes image-3 { 
    0%      { opacity: 0; }
    25.92%  { opacity: 0; }
    
    33.33%  { opacity: 0; }
    59.25%  { opacity: 0; }

    66.66%  { opacity: 1; }
    92.59%  { opacity: 1; }
    
    100%    { opacity: 0; }
}
@keyframes image-1-copy { 
    0%      { opacity: 1; }
    25.92%  { opacity: 1; }
    
    33.33%  { opacity: 0; }
    59.25%  { opacity: 0; }

    66.66%  { opacity: 0; }
    92.59%  { opacity: 0; }
    
    100%    { opacity: 1; }
}
@keyframes image-2-copy { 
    0%      { opacity: 0; }
    25.92%  { opacity: 0; }
    
    33.33%  { opacity: 1; }
    59.25%  { opacity: 1; }

    66.66%  { opacity: 0; }
    92.59%  { opacity: 0; }
    
    100%    { opacity: 0; }
}
@keyframes image-3-copy { 
    0%      { opacity: 0; }
    25.92%  { opacity: 0; }
    
    33.33%  { opacity: 0; }
    59.25%  { opacity: 0; }

    66.66%  { opacity: 1; }
    92.59%  { opacity: 1; }
    
    100%    { opacity: 0; }
}

@keyframes box-1 { 
    0%      { margin-top: 0; opacity: 1; }
    25.92%  { margin-top: 0; opacity: 1; }
    
    33.33%  { margin-top: 100px; opacity: 0; }
    59.25%  { margin-top: 100px; opacity: 0; }

    66.66%  { margin-top: -100px; opacity: 0; }
    92.59%  { margin-top: -100px; opacity: 0; }
    
    100%    { margin-top: 0; opacity: 1; }
}
@keyframes box-2 { 
    0%      { margin-top: -100px; opacity: 0; }
    25.92%  { margin-top: -100px; opacity: 0; }
    
    33.33%  { margin-top: 0; opacity: 1; }
    59.25%  { margin-top: 0; opacity: 1; }

    66.66%  { margin-top: 100px; opacity: 0; }
    92.59%  { margin-top: 100px; opacity: 0; }
    
    100%    { margin-top: -100px; opacity: 0; }
}
@keyframes box-3 { 
    0%      { margin-top: 100px; opacity: 0; }
    25.92%  { margin-top: 100px; opacity: 0; }
    
    33.33%  { margin-top: -100px; opacity: 0; }
    59.25%  { margin-top: -100px; opacity: 0; }

    66.66%  { margin-top: 0; opacity: 1; }
    92.59%  { margin-top: 0; opacity: 1; }
    
    100%    { margin-top: 100px; opacity: 0; }
}
@keyframes box-1-copy { 
    0%      { margin-top: 0; opacity: 1; }
    25.92%  { margin-top: 0; opacity: 1; }
    
    33.33%  { margin-top: 100px; opacity: 0; }
    59.25%  { margin-top: 100px; opacity: 0; }

    66.66%  { margin-top: -100px; opacity: 0; }
    92.59%  { margin-top: -100px; opacity: 0; }
    
    100%    { margin-top: 0; opacity: 1; }
}
@keyframes box-2-copy { 
    0%      { margin-top: -100px; opacity: 0; }
    25.92%  { margin-top: -100px; opacity: 0; }
    
    33.33%  { margin-top: 0; opacity: 1; }
    59.25%  { margin-top: 0; opacity: 1; }

    66.66%  { margin-top: 100px; opacity: 0; }
    92.59%  { margin-top: 100px; opacity: 0; }
    
    100%    { margin-top: -100px; opacity: 0; }
}
@keyframes box-3-copy { 
    0%      { margin-top: 100px; opacity: 0; }
    25.92%  { margin-top: 100px; opacity: 0; }
    
    33.33%  { margin-top: -100px; opacity: 0; }
    59.25%  { margin-top: -100px; opacity: 0; }

    66.66%  { margin-top: 0; opacity: 1; }
    92.59%  { margin-top: 0; opacity: 1; }
    
    100%    { margin-top: 100px; opacity: 0; }
}


@keyframes show-hide {
    0%      { opacity: 0; }
    18.18%  { opacity: 1; }
    81.81%  { opacity: 1; }
    100%    { opacity: 0; }
}
@keyframes hide-show {
    0%      { opacity: 1; }
    18.18%  { opacity: 0; }
    81.81%  { opacity: 0; }
    100%    { opacity: 1; }
}
@keyframes show-hide-copy {
    0%      { opacity: 0; }
    18.18%  { opacity: 1; }
    81.81%  { opacity: 1; }
    100%    { opacity: 0; }
}
@keyframes hide-show-copy {
    0%      { opacity: 1; }
    18.18%  { opacity: 0; }
    81.81%  { opacity: 0; }
    100%    { opacity: 1; }
}

@keyframes b-show-hide {
    0%      { margin-top: -100px; opacity: 0; }
    18.18%  { margin-top: 0; opacity: 1; }
    81.81%  { margin-top: 0; opacity: 1; }
    100%    { margin-top: 100px; opacity: 0; }
}
@keyframes b-hide-show {
    0%      { margin-top: 0; opacity: 1; }
    18.18%  { margin-top: 100px; opacity: 0; }
    81.81%  { margin-top: -100px; opacity: 0; }
    100%    { margin-top: 0; opacity: 1; }
}
@keyframes b-show-hide-copy {
    0%      { margin-top: -100px; opacity: 0; }
    18.18%  { margin-top: 0; opacity: 1; }
    81.81%  { margin-top: 0; opacity: 1; }
    100%    { margin-top: 100px; opacity: 0; }
}
@keyframes b-hide-show-copy {
    0%      { margin-top: 0; opacity: 1; }
    18.18%  { margin-top: 100px; opacity: 0; }
    81.81%  { margin-top: -100px; opacity: 0; }
    100%    { margin-top: 0; opacity: 1; }
}

.visual__image .image,
.visual__box .box {
    animation-duration: 13.5s;
    animation-delay: calc(-13.5s + 1s);
    animation-iteration-count: infinite;
    opacity: 0;
}

#move-3-1:checked ~ .visual .image:nth-child(1)  { animation-name: image-1; }
#move-3-1:checked ~ .visual .image:nth-child(2)  { animation-name: image-2; }
#move-3-1:checked ~ .visual .image:nth-child(3)  { animation-name: image-3; }

#move-1-2:checked ~ .visual .image:nth-child(1)  { animation-name: image-3; }
#move-1-2:checked ~ .visual .image:nth-child(2)  { animation-name: image-1; }
#move-1-2:checked ~ .visual .image:nth-child(3)  { animation-name: image-2; }

#move-2-3:checked ~ .visual .image:nth-child(1)  { animation-name: image-2; }
#move-2-3:checked ~ .visual .image:nth-child(2)  { animation-name: image-3; }
#move-2-3:checked ~ .visual .image:nth-child(3)  { animation-name: image-1; }


#move-1-3:checked ~ .visual .image:nth-child(1)  { animation-name: hide-show, image-1; }
#move-1-3:checked ~ .visual .image:nth-child(2)  { animation-name: image-2; }
#move-1-3:checked ~ .visual .image:nth-child(3)  { animation-name: show-hide, image-3; }

#move-2-1:checked ~ .visual .image:nth-child(1)  { animation-name: show-hide, image-3; }
#move-2-1:checked ~ .visual .image:nth-child(2)  { animation-name: hide-show, image-1; }
#move-2-1:checked ~ .visual .image:nth-child(3)  { animation-name: image-2; }

#move-3-2:checked ~ .visual .image:nth-child(1)  { animation-name: image-2; }
#move-3-2:checked ~ .visual .image:nth-child(2)  { animation-name: show-hide, image-3; }
#move-3-2:checked ~ .visual .image:nth-child(3)  { animation-name: hide-show, image-1; }

#move-1-3:checked ~ .visual .image:nth-child(1),
#move-1-3:checked ~ .visual .image:nth-child(3),
#move-2-1:checked ~ .visual .image:nth-child(1),
#move-2-1:checked ~ .visual .image:nth-child(2),
#move-3-2:checked ~ .visual .image:nth-child(2),
#move-3-2:checked ~ .visual .image:nth-child(3) {
    animation-duration: 5.5s, 13.5s;
    animation-delay: 0s, 5.5s;
    animation-iteration-count: 1, infinite;
}

#move-1-3:checked ~ .visual .image:nth-child(2),
#move-2-1:checked ~ .visual .image:nth-child(3),
#move-3-2:checked ~ .visual .image:nth-child(1) {
    animation-delay: 5.5s;
}


#move-3-1-copy:checked ~ .visual .image:nth-child(1)  { animation-name: image-1-copy; }
#move-3-1-copy:checked ~ .visual .image:nth-child(2)  { animation-name: image-2-copy; }
#move-3-1-copy:checked ~ .visual .image:nth-child(3)  { animation-name: image-3-copy; }

#move-1-2-copy:checked ~ .visual .image:nth-child(1)  { animation-name: image-3-copy; }
#move-1-2-copy:checked ~ .visual .image:nth-child(2)  { animation-name: image-1-copy; }
#move-1-2-copy:checked ~ .visual .image:nth-child(3)  { animation-name: image-2-copy; }

#move-2-3-copy:checked ~ .visual .image:nth-child(1)  { animation-name: image-2-copy; }
#move-2-3-copy:checked ~ .visual .image:nth-child(2)  { animation-name: image-3-copy; }
#move-2-3-copy:checked ~ .visual .image:nth-child(3)  { animation-name: image-1-copy; }


#move-1-3-copy:checked ~ .visual .image:nth-child(1)  { animation-name: hide-show-copy, image-1-copy; }
#move-1-3-copy:checked ~ .visual .image:nth-child(2)  { animation-name: image-2-copy; }
#move-1-3-copy:checked ~ .visual .image:nth-child(3)  { animation-name: show-hide-copy, image-3-copy; }

#move-2-1-copy:checked ~ .visual .image:nth-child(1)  { animation-name: show-hide-copy, image-3-copy; }
#move-2-1-copy:checked ~ .visual .image:nth-child(2)  { animation-name: hide-show-copy, image-1-copy; }
#move-2-1-copy:checked ~ .visual .image:nth-child(3)  { animation-name: image-2-copy; }

#move-3-2-copy:checked ~ .visual .image:nth-child(1)  { animation-name: image-2-copy; }
#move-3-2-copy:checked ~ .visual .image:nth-child(2)  { animation-name: show-hide-copy, image-3-copy; }
#move-3-2-copy:checked ~ .visual .image:nth-child(3)  { animation-name: hide-show-copy, image-1-copy; }

#move-1-3-copy:checked ~ .visual .image:nth-child(1),
#move-1-3-copy:checked ~ .visual .image:nth-child(3),
#move-2-1-copy:checked ~ .visual .image:nth-child(1),
#move-2-1-copy:checked ~ .visual .image:nth-child(2),
#move-3-2-copy:checked ~ .visual .image:nth-child(2),
#move-3-2-copy:checked ~ .visual .image:nth-child(3) {
    animation-duration: 5.5s, 13.5s;
    animation-delay: 0s, 5.5s;
    animation-iteration-count: 1, infinite;
}

#move-1-3-copy:checked ~ .visual .image:nth-child(2),
#move-2-1-copy:checked ~ .visual .image:nth-child(3),
#move-3-2-copy:checked ~ .visual .image:nth-child(1) {
    animation-delay: 5.5s;
}


#move-3-1:checked ~ .visual .box:nth-child(1)  { animation-name: box-1; }
#move-3-1:checked ~ .visual .box:nth-child(2)  { animation-name: box-2; }
#move-3-1:checked ~ .visual .box:nth-child(3)  { animation-name: box-3; }

#move-1-2:checked ~ .visual .box:nth-child(1)  { animation-name: box-3; }
#move-1-2:checked ~ .visual .box:nth-child(2)  { animation-name: box-1; }
#move-1-2:checked ~ .visual .box:nth-child(3)  { animation-name: box-2; }

#move-2-3:checked ~ .visual .box:nth-child(1)  { animation-name: box-2; }
#move-2-3:checked ~ .visual .box:nth-child(2)  { animation-name: box-3; }
#move-2-3:checked ~ .visual .box:nth-child(3)  { animation-name: box-1; }


#move-1-3:checked ~ .visual .box:nth-child(1)  { animation-name: b-hide-show, box-1; }
#move-1-3:checked ~ .visual .box:nth-child(2)  { animation-name: box-2; }
#move-1-3:checked ~ .visual .box:nth-child(3)  { animation-name: b-show-hide, box-3; }

#move-2-1:checked ~ .visual .box:nth-child(1)  { animation-name: b-show-hide, box-3; }
#move-2-1:checked ~ .visual .box:nth-child(2)  { animation-name: b-hide-show, box-1; }
#move-2-1:checked ~ .visual .box:nth-child(3)  { animation-name: box-2; }

#move-3-2:checked ~ .visual .box:nth-child(1)  { animation-name: box-2; }
#move-3-2:checked ~ .visual .box:nth-child(2)  { animation-name: b-show-hide, box-3; }
#move-3-2:checked ~ .visual .box:nth-child(3)  { animation-name: b-hide-show, box-1; }

#move-1-3:checked ~ .visual .box:nth-child(1),
#move-1-3:checked ~ .visual .box:nth-child(3),
#move-2-1:checked ~ .visual .box:nth-child(1),
#move-2-1:checked ~ .visual .box:nth-child(2),
#move-3-2:checked ~ .visual .box:nth-child(2),
#move-3-2:checked ~ .visual .box:nth-child(3) {
    animation-duration: 5.5s, 13.5s;
    animation-delay: 0s, 5.5s;
    animation-iteration-count: 1, infinite;
}

#move-1-3:checked ~ .visual .box:nth-child(2),
#move-2-1:checked ~ .visual .box:nth-child(3),
#move-3-2:checked ~ .visual .box:nth-child(1) {
    animation-delay: 5.5s;
}


#move-3-1-copy:checked ~ .visual .box:nth-child(1)  { animation-name: box-1-copy; }
#move-3-1-copy:checked ~ .visual .box:nth-child(2)  { animation-name: box-2-copy; }
#move-3-1-copy:checked ~ .visual .box:nth-child(3)  { animation-name: box-3-copy; }

#move-1-2-copy:checked ~ .visual .box:nth-child(1)  { animation-name: box-3-copy; }
#move-1-2-copy:checked ~ .visual .box:nth-child(2)  { animation-name: box-1-copy; }
#move-1-2-copy:checked ~ .visual .box:nth-child(3)  { animation-name: box-2-copy; }

#move-2-3-copy:checked ~ .visual .box:nth-child(1)  { animation-name: box-2-copy; }
#move-2-3-copy:checked ~ .visual .box:nth-child(2)  { animation-name: box-3-copy; }
#move-2-3-copy:checked ~ .visual .box:nth-child(3)  { animation-name: box-1-copy; }


#move-1-3-copy:checked ~ .visual .box:nth-child(1)  { animation-name: b-hide-show-copy, box-1-copy; }
#move-1-3-copy:checked ~ .visual .box:nth-child(2)  { animation-name: box-2-copy; }
#move-1-3-copy:checked ~ .visual .box:nth-child(3)  { animation-name: b-show-hide-copy, box-3-copy; }

#move-2-1-copy:checked ~ .visual .box:nth-child(1)  { animation-name: b-show-hide-copy, box-3-copy; }
#move-2-1-copy:checked ~ .visual .box:nth-child(2)  { animation-name: b-hide-show-copy, box-1-copy; }
#move-2-1-copy:checked ~ .visual .box:nth-child(3)  { animation-name: box-2-copy; }

#move-3-2-copy:checked ~ .visual .box:nth-child(1)  { animation-name: box-2-copy; }
#move-3-2-copy:checked ~ .visual .box:nth-child(2)  { animation-name: b-show-hide-copy, box-3-copy; }
#move-3-2-copy:checked ~ .visual .box:nth-child(3)  { animation-name: b-hide-show-copy, box-1-copy; }

#move-1-3-copy:checked ~ .visual .box:nth-child(1),
#move-1-3-copy:checked ~ .visual .box:nth-child(3),
#move-2-1-copy:checked ~ .visual .box:nth-child(1),
#move-2-1-copy:checked ~ .visual .box:nth-child(2),
#move-3-2-copy:checked ~ .visual .box:nth-child(2),
#move-3-2-copy:checked ~ .visual .box:nth-child(3) {
    animation-duration: 5.5s, 13.5s;
    animation-delay: 0s, 5.5s;
    animation-iteration-count: 1, infinite;
}

#move-1-3-copy:checked ~ .visual .box:nth-child(2),
#move-2-1-copy:checked ~ .visual .box:nth-child(3),
#move-3-2-copy:checked ~ .visual .box:nth-child(1) {
    animation-delay: 5.5s;
}


@keyframes label-1 {
    0%      { z-index: 1; }
    25.92%  { z-index: 1; }
    
    33.33%  { z-index: -1; }
    59.25%  { z-index: -1; }

    66.66%  { z-index: -1; }
    92.59%  { z-index: -1; }
    
    100%    { z-index: 1; }
}
@keyframes label-2 {
    0%      { z-index: -1; }
    25.92%  { z-index: -1; }
    
    33.33%  { z-index: 1; }
    59.25%  { z-index: 1; }

    66.66%  { z-index: -1; }
    92.59%  { z-index: -1; }
    
    100%    { z-index: -1; }
}
@keyframes label-3 {
    0%      { z-index: -1; }
    25.92%  { z-index: -1; }
    
    33.33%  { z-index: -1; }
    59.25%  { z-index: -1; }

    66.66%  { z-index: 1; }
    92.59%  { z-index: 1; }
    
    100%    { z-index: -1; }
}

.visual .control label {
    animation-duration: 13.5s;
    animation-iteration-count: infinite;
    z-index: -1;
}

#move-2-1:checked ~ .visual .label-1-copy { animation-name: label-1; }
#move-2-1:checked ~ .visual .label-2-copy { animation-name: label-2; }
#move-2-1:checked ~ .visual .label-3-copy { animation-name: label-3; }
#move-3-1:checked ~ .visual .label-1-copy { animation-name: label-1; }
#move-3-1:checked ~ .visual .label-2-copy { animation-name: label-2; }
#move-3-1:checked ~ .visual .label-3-copy { animation-name: label-3; }

#move-1-2:checked ~ .visual .label-1-copy { animation-name: label-3; }
#move-1-2:checked ~ .visual .label-2-copy { animation-name: label-1; }
#move-1-2:checked ~ .visual .label-3-copy { animation-name: label-2; }
#move-3-2:checked ~ .visual .label-1-copy { animation-name: label-3; }
#move-3-2:checked ~ .visual .label-2-copy { animation-name: label-1; }
#move-3-2:checked ~ .visual .label-3-copy { animation-name: label-2; }

#move-1-3:checked ~ .visual .label-1-copy { animation-name: label-2; }
#move-1-3:checked ~ .visual .label-2-copy { animation-name: label-3; }
#move-1-3:checked ~ .visual .label-3-copy { animation-name: label-1; }
#move-2-3:checked ~ .visual .label-1-copy { animation-name: label-2; }
#move-2-3:checked ~ .visual .label-2-copy { animation-name: label-3; }
#move-2-3:checked ~ .visual .label-3-copy { animation-name: label-1; }

#move-2-1-copy:checked ~ .visual .label-1 { animation-name: label-1; }
#move-2-1-copy:checked ~ .visual .label-2 { animation-name: label-2; }
#move-2-1-copy:checked ~ .visual .label-3 { animation-name: label-3; }
#move-3-1-copy:checked ~ .visual .label-1 { animation-name: label-1; }
#move-3-1-copy:checked ~ .visual .label-2 { animation-name: label-2; }
#move-3-1-copy:checked ~ .visual .label-3 { animation-name: label-3; }

#move-1-2-copy:checked ~ .visual .label-1 { animation-name: label-3; }
#move-1-2-copy:checked ~ .visual .label-2 { animation-name: label-1; }
#move-1-2-copy:checked ~ .visual .label-3 { animation-name: label-2; }
#move-3-2-copy:checked ~ .visual .label-1 { animation-name: label-3; }
#move-3-2-copy:checked ~ .visual .label-2 { animation-name: label-1; }
#move-3-2-copy:checked ~ .visual .label-3 { animation-name: label-2; }

#move-1-3-copy:checked ~ .visual .label-1 { animation-name: label-2; }
#move-1-3-copy:checked ~ .visual .label-2 { animation-name: label-3; }
#move-1-3-copy:checked ~ .visual .label-3 { animation-name: label-1; }
#move-2-3-copy:checked ~ .visual .label-1 { animation-name: label-2; }
#move-2-3-copy:checked ~ .visual .label-2 { animation-name: label-3; }
#move-2-3-copy:checked ~ .visual .label-3 { animation-name: label-1; }


#s-paused:checked ~ .visual .fa-pause { display: none; }
#s-paused:not(:checked) ~ .visual .fa-play { display: none; }

#s-paused:checked ~ .visual .image,
#s-paused:checked ~ .visual .box,
#s-paused:checked ~ .visual .control label {
    animation-play-state: paused;
    pointer-events: none;
}

/* /슬라이드 */


/* 축제 소개 */

.line {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
}

.line__text, .line__image {
    flex: 0 0 50%;
    max-width: 50%;
    height: 450px;
}

.line__text {
    display: flex;
    align-items: center;
    height: 450px;
    padding: 40px;
}
.line__text > div {
    width: 100%;
    max-width: calc(1440px / 2);
}
.line:nth-child(2n-1) .line__text { text-align: right; flex-direction: row-reverse; }
.line:nth-child(2n) .line__text { order: 1; }

.line__image img { width: 100%; height: 100%; object-fit: cover; }

@media(max-width: 760px){
    .line__text, .line__image {
        flex: 0 0 100%;
        max-width: 100%;
        
    }
    .line__text { height: auto; }
    .line__image { height: 100px; order: 2; }
}

/* /축제 소개 */


.accent--image { position: relative; transition: 0.35s; z-index: 10; }
.accent--image::before,
.accent--image::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    transition: 0.35s;
    z-index: -1;
}
.accent--image::before { background-color: #ce633d; }
.accent--image::after { background-color: #d3a97d; }

.accent--image:hover::before { transform: rotate(10deg) }
.accent--image:hover::after { transform: rotate(5deg) }

.accent--image:hover { transform: translateY(-1em); }


.company {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
}

.company img {
    width: calc(100% / 4);
    height: 60px;
    object-fit: contain;
}

.company img:nth-child(5) { margin-left: 25%; }
.company img:nth-child(8) { margin-left: 50%; }
.company img:nth-child(10) { margin-left: 75%; }


@media(max-width: 760px){
    .company { height: 100px; }
    .company img {
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        width: 330px;
        animation: company 33s infinite;
    }

    .company img:nth-child(1) { animation-delay: -3s; }
    .company img:nth-child(3) { animation-delay: calc(-33s + 3s * 1); }
    .company img:nth-child(4) { animation-delay: calc(-33s + 3s * 2); }
    .company img:nth-child(5) { animation-delay: calc(-33s + 3s * 3); }
    .company img:nth-child(6) { animation-delay: calc(-33s + 3s * 4); }
    .company img:nth-child(7) { animation-delay: calc(-33s + 3s * 5); }
    .company img:nth-child(8) { animation-delay: calc(-33s + 3s * 6); }
    .company img:nth-child(9) { animation-delay: calc(-33s + 3s * 7); }
    .company img:nth-child(10) { animation-delay: calc(-33s + 3s * 8); }
    .company img:nth-child(11) { animation-delay: calc(-33s + 3s * 9); }

    @keyframes company {
        0% { margin-left: -100%; }
        7.57% { margin-left: -100%; }

        9.09% { margin-left: 0%; }
        16.66% { margin-left: 0%; }

        18.18% { margin-left: 100%; }
        100% { margin-left: 100%; }
    }

    #c-paused:checked ~ .row .fa-pause { display: none; }
    #c-paused:not(:checked) ~ .row .fa-play { display: none; }

    #c-paused:checked ~ .row .company img { animation-play-state: paused; }
}


.hash-module {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #ddd;
    background-color: #fff;
}
.hash-module__item {
    margin: 0.5em;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0 0.5em;
    background-color: #ce633d;
    color: #fff;
    font-size: 0.9em;
    cursor: pointer;
}

.hash-module__input {
    margin: 0.5em;
    width: 150px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #333;
    font-size: 0.9em;
    position: relative;
}
.hash-module__input input {
    width: calc(100% - 1em);
    background-color: transparent;
    border: none;
}
.example {
    position: absolute;
    left: 0; top: 100%;
    width: 100%;
}
.example__item {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 0.9em;
    padding-left: 0.5em;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #555;
    cursor: pointer;
}
.example__item:not(:last-child) { border-bottom: none; }
.example__item:hover { background-color: #f7f7f7; }
.example__item.active { background-color :#eee; }

.buy-count {
    width: 100px;
    border: none;
    border-bottom: 1px solid #333;
    background-color: transparent;
    font-size: 0.9em;
}


#workspace {
    position: relative;
    width: 1200px;
    height: 800px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 50px auto;
}
.tool {
    position: absolute;
    right: 0; top: 0;
    width: 50px; height: 100%;
    border-left: 1px solid #Ddd;
    background-color: #f7f7f7;
}
.tool__item {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #888;
    transition: 0.35s;
}
.tool__item:hover { color: #333; }
.tool__item.active { color: #ce633d; }


.help-header {
    height: 40px;
    margin-bottom: -1px;
    display: flex;
    align-items: center;
}
.help-header .tab {
    height: 40px;
    line-height: 40px;
    padding: 0 1em;
    border: 1px solid #ddd;
    background-color :#f7f7f7;
}
.help-header .tab:not(:last-child) { border-right: none; }

.help-body {
    border: 1px solid #ddd;
    padding: 1em;
    line-height: 1.8em;
    font-size: 0.95em;  
    color: #555;
}
.help-body > div { display: none; }
.help-body > div > span.active { padding: 0.1em; background-color: #d3a97d; }

#focus-select:checked ~ .help .help-header [for='focus-select'],
#focus-spin:checked ~ .help .help-header [for='focus-spin'],
#focus-cut:checked ~ .help .help-header [for='focus-cut'],
#focus-glue:checked ~ .help .help-header [for='focus-glue'] {
    position: relative;
    background-color: #fff;
    border-bottom-color: #fff;
}
#focus-select:checked ~ .help .help-body [data-target='#focus-select'],
#focus-spin:checked ~ .help .help-body [data-target='#focus-spin'],
#focus-cut:checked ~ .help .help-body [data-target='#focus-cut'],
#focus-glue:checked ~ .help .help-body [data-target='#focus-glue'] {
    display: block;
}

.context-menu {
    position: absolute;
    width: 150px;
}
.context-menu__item {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 0.9em;
    padding-left: 0.5em;
    border: 1px solid #ddd;
    background-color: #fff;
}
.context-menu__item:not(:last-child) { border-bottom: none; }
.context-menu__item:hover { background-color: #f7f7f7; }